@charset "UTF-8";

/* Paleta :   
azul claro  #163E73
azul escuro #012E40 */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #163E73;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.356);

}

section#login div#imagem {
    display: block;
    background: #012E40 url(../imagens/cubo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    
}

section#login div#formulario {
    display: block;
    padding: 10px;
}