@charset "UTF-8";

/* Paleta :   
azul claro  #163E73
azul escuro #012E40 */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #163E73;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

form div.campo {
    text-align: center;
}

section#login {
    background-color: white;
    height: 530px;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.356);
}

section#login div#imagem {
    display: block;
    background: #012E40 url(../imagens/cubo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    
    
}

section#login div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    font-size: 0.8em;
}

form label {
    display: none;
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #C1175E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

form input[type=submit]:hover {
    background-color: #881143;
    
}

form a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 6px;
    background-color: #06997e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

form a.botao:hover {
    background-color: #055e4d;
    color: white;
}

form a.botao span {
    font-size: 0.8em;
}

div#reset {
    text-align: right;
    font-size: .8em;
    margin-top: 7px;
}

div#reset a.botao2 {
    background-color: #ffffff;
    color: blue
    border-radius: 5px;
    margin: 5px;
    padding: 0px;

}

div#reset a.botao2:hover {
    text-decoration: underline;
    color: darkblue;

    
}