@charset "UTF-8";

/* Paleta :  
lilais escuro #3E4375 
 */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body, html {
        background: #3e437565 url(../imagens/fundo.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    form input[type=submit] {
        width: 70%;
    }

    section#login {
        width: 80vw;
        height: 350px;
    }

    section#login div#imagem {
        background-color: #3e437561;
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario h1 {
        font-size: 2em;
    }
    
    div#formulario p {
        font-size: 1.5em;
    }
}